body {
    background-color: rgb(218, 184, 180);
}

.tytul {
    color: red;
    font-size: 26pt;
}

.tekst1 {
    color: maroon;
    font-size: 20pt;
}

.tekst2 {
    color: midnightblue;
    font-size: 20pt;
}